# Hidden files and directories.
.*

# Top-level directories unrelated to the build.
docs*/
infrastructure/
scripts/
tmp/

# Top-level files unrealted to the build.
CODEOWNERS
Dockerfile
*.adoc

# NPM stuff.
**/node_modules/*

# Solidity stuff.
solidity/

# Token Stakedrop stuff.
token-stakedrop/

# Token Tracker stuff.
token-tracker/

# Go stuff.
**/gen/_contracts
**/gen/**/*.go
!**/gen/gen.go
!**/gen/cmd/cmd.go

# Contract addresses.
# We do not want to overwrite extracted contract addresses with empty content while
# coping local root directory to docker image context.
**/gen/_address/*
