# Hidden files and directories.
.*
!.yarnrc.yml

# Include local dependency patches, but exclude Yarn caches and install state.
!.yarn
.yarn/**
!.yarn/patches
!.yarn/patches/**

# Documentation
docs/

# Node
node_modules/
